@layout("/common/_container.html"){
<style>
	.wellcome-box{
		min-width: 360px;
		max-width: 500px;
		/*margin-left: 15px;*/
		overflow-x: hidden;
	}
	.wellcome-box .container-box{
		padding: 25px;
 		border: 1px solid #dcdcdc; 
 		box-shadow: 5px 3px 5px #dcdcdc;
	}
	.wellcome-box .user-avator {
		display: table-cell;
		width:105px; 
		height:105px; 
		border-radius: 50%;
		border: 1px solid #cdcdcd;
		padding: 3px;
		overflow: hidden;
		text-align: center;
		vertical-align: middle;
		float: left;
	}
	.wellcome-box .user-avator img {
		text-align: center;
		vertical-align: middle;
		border: none !important;
		background: none;
	 	width: 100%; 
	 	max-width: 100px; 
	 	max-height: 100px;
	 	border-radius: 50%;
	 	padding: 3px;
	}
	.wellcome-box .user-name{
 		margin-left: 130px; 
 		margin-top: 35px;
 		font-size: 26px;
 		line-height: 26px;
 		height: 26px;
 		overflow:hidden;
	    text-overflow:ellipsis;
	    white-space:nowrap
	}
	.wellcome-box .wellcome-txt{
		text-align: right;
		font-size: 15px;
	}
</style>
<div class="col-sm-3">
	<div class="card-box">
	    <div class="col-sm-12 card-container">
	        <div class="card-header">
	            <img src="${ctxPath}/static/img/HomePage/ink.png" alt="">
	        </div>
	        <div class="card-container">
		        <div class="card-body">
		            <p>供应商管理</p>
		        </div>
		        <div class="card-detail">
		            <p>供应商管理是一个智能化、实时性、信息准确的供应商客户管理系统，其中包括了上游供应商、通道供应商、通道适配器、接入通道、接入通道组等管理表单信息</p>
		        </div>
		    </div>
	        <div class="card-footer">
	            <button type="button" class="btn btn-primary button-margin detail-btn">查看详情</button>
	        </div>
	    </div>
	</div>
</div>
<div class="col-sm-3">
	<div class="card-box">
	    <div class="col-sm-12 card-container">
	        <div class="card-header">
	            <img src="${ctxPath}/static/img/HomePage/mobile-phone.png" alt="">
	        </div>
	        <div class="card-container">
		        <div class="card-body">
		            <p>产品管理</p>
		        </div>
		        <div class="card-detail">
		            <p>产品管理是一个智能化、实时性、信息准确的产品管理系统，其中包括了流量包设置功能，以及查看流量包适用区域、运营商、流量大小等信息</p>
		        </div>
		    </div>
	        <div class="card-footer">
	            <button type="button" class="btn btn-primary button-margin detail-btn">查看详情</button>
	        </div>
	    </div>
	</div>
</div>
<div class="col-sm-3">
	<div class="card-box">
	    <div class="col-sm-12 card-container">
	        <div class="card-header">
	            <img src="${ctxPath}/static/img/HomePage/strategy.png" alt="">
	        </div>
	        <div class="card-container">
		        <div class="card-body">
		            <p>订单查询</p>
		        </div>
		        <div class="card-detail">
		            <p>订单查询是一个智能化、实时性、信息准确的订单查询系统，其中包括了订单列表、异常订单列表等表单信息</p>
		        </div>
		    </div>
	        <div class="card-footer">
	            <button type="button" class="btn btn-primary button-margin detail-btn">查看详情</button>
	        </div>
	    </div>
	</div>
</div>
<div class="col-sm-3">
	<div class="card-box">
	    <div class="col-sm-12 card-container">
	        <div class="card-header">
	            <img src="${ctxPath}/static/img/HomePage/handshake.png" alt="">
	        </div>
	        <div class="card-container">
		        <div class="card-body">
		            <p>合作伙伴管理</p>
		        </div>
		        <div class="card-detail">
		            <p>合作伙伴管理是一个智能化、实时性、信息准确的合作伙伴管理系统，其中包括了合作伙伴信息管理、我的信息，以及流量下发的实时监控等图表信息</p>
		        </div>
		    </div>
	        <div class="card-footer">
	            <button type="button" class="btn btn-primary button-margin detail-btn">查看详情</button>
	        </div>
	    </div>
	</div>
</div>
<div class="col-sm-3">
	<div class="card-box">
	    <div class="col-sm-12 card-container">
	        <div class="card-header">
	            <img src="${ctxPath}/static/img/HomePage/hierarchical-structure.png" alt="">
	        </div>
	        <div class="card-container">
		        <div class="card-body">
		            <p>客户管理</p>
		        </div>
		        <div class="card-detail">
		            <p>客户管理是一个智能化、实时性、信息准确的客户管理系统，其中包括了客户信息管理、客户流量下发监控、客户供应商管理、客户产品配置、客户接入管理等图表信息</p>
		        </div>
		    </div>
	        <div class="card-footer">
	            <button type="button" class="btn btn-primary button-margin detail-btn">查看详情</button>
	        </div>
	    </div>
	</div>
</div>
<div class="col-sm-3">
	<div class="card-box">
	    <div class="col-sm-12 card-container">
	        <div class="card-header">
	            <img src="${ctxPath}/static/img/HomePage/startup.png" alt="">
	        </div>
	        <div class="card-container">
		        <div class="card-body">
		            <p>账单/报表统计</p>
		        </div>
		        <div class="card-detail">
		            <p>账单/报表统计是一个智能化、实时性、信息准确的账单/报表统计系统，其中包括了供应商出款数据统计、区域订单分析报表等图表信息</p>
		        </div>
		    </div>
	        <div class="card-footer">
	            <button type="button" class="btn btn-primary button-margin detail-btn">查看详情</button>
	        </div>
	    </div>
	</div>
</div>
<div class="col-sm-3">
	<div class="card-box">
	    <div class="col-sm-12 card-container">
	        <div class="card-header">
	            <img src="${ctxPath}/static/img/HomePage/hierarchical-structure (1).png" alt="">
	        </div>
	        <div class="card-container">
		        <div class="card-body">
		            <p>系统管理</p>
		        </div>
		        <div class="card-detail">
		            <p>系统管理是一个智能化、实时性、信息准确的系统管理系统，其中包括了用户管理、角色管理、部门管理、字典管理、菜单管理等图表信息</p>
		        </div>
		    </div>
		    <div class="card-footer">
		        <button type="button" class="btn btn-primary button-margin detail-btn">查看详情</button>
		    </div>
	    </div>
	</div>
</div>
<!-- <div class="wellcome-box">
    <div class="ibox float-e-margins">
        <div class="ibox-content container-box">
            <div class="row row-lg">
                <div class="col-sm-12 user">
                	<div class="user-avator">
                    	<img id="newAvator" alt="${user.name}" src="${ctxPath}/mgr/getAvator" onerror="loadDefaultUserAvator(event);"/>
                    </div>
                    <div class="user-name">
                    	${user.name}
                    </div>
                    <div style="clear: both;"></div>
                </div>
            </div>
            <br/><br/>
            <div class="row row-lg">
                <div class="col-sm-12 wellcome-txt">
                	<span id="tip-txt"></span><br/>
                	<span id="date"></span>
                </div>
            </div>
        </div>
    </div>
</div> -->

<script type="text/javascript">

	var tips = [
		{
			tip : "午夜好！请注意休息",
			startTime:0,
			endTime: 1 * 3600
		},
		{
			tip : "凌晨好！请注意休息",
			startTime:1 * 3600,
			endTime: 5 * 3600
		},
		{
			tip : "早上好！记得吃早餐哟",
			startTime:5 * 3600,
			endTime: 8 * 3600
		},
		{
			tip : "上午好！",
			startTime:8 * 3600,
			endTime: 12 * 3600
		},
		{
			tip : "中午好！午饭后小憩一下",
			startTime:12 * 3600,
			endTime: 13 * 3600 + 30 * 60
		},
		{
			tip : "下午好！",
			startTime:13 * 3600 + 30 * 60,
			endTime: 16 * 3600
		},
		{
			tip : "下午好！来杯下午茶吧",
			startTime:16 * 3600,
			endTime: 16 * 3600 + 30 * 60
		},
		{
			tip : "下午好！",
			startTime:16 * 3600 + 30 * 60,
			endTime: 18 * 3600 + 30 * 60
		},
		{
			tip : "晚上好！记得吃晚饭",
			startTime:18 * 3600 + 30 * 60,
			endTime: 20 * 3600
		},
		{
			tip : "晚上好！",
			startTime:20 * 3600,
			endTime: 21 * 3600 + 30 * 60
		},
		{
			tip : "晚上好！早点休息",
			startTime:21 * 3600 + 30 * 60,
			endTime: 24 * 3600
		}
	];
	
	var weeks = new Array("星期日", "星期一", "星期二", "星期三", "星期四", "星期五", "星期六");

	Date.prototype.Format = function (fmt) { 
	    var o = {
	        "M+": this.getMonth() + 1, //月份 
	        "d+": this.getDate(), //日 
	        "H+": this.getHours(), //小时 
	        "m+": this.getMinutes(), //分 
	        "s+": this.getSeconds(), //秒 
	        "q+": Math.floor((this.getMonth() + 3) / 3), //季度 
	        "S": this.getMilliseconds() //毫秒 
	    };
	    if (/(y+)/.test(fmt)) fmt = fmt.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
	    for (var k in o)
	    if (new RegExp("(" + k + ")").test(fmt)) fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
	    return fmt;
	}

	var date = new Date();

	$("#date").text("今天是" + date.Format("yyyy年MM月dd日") + "  " + weeks[(new Date().getDay())]);
	
	var time = date.getHours() * 3600 + date.getMinutes() * 60 + date.getSeconds();
	for(index in tips) {
		if ( time >= tips[index].startTime && time < tips[index].endTime ) {
			$("#tip-txt").text(tips[index].tip);
			break;
		}
	}

	//首页详情按钮跳转
	let subMenu = $(window.parent.document).find("#side-menu");
    $(".detail-btn").each(function(index,e){
        $(this).click(function(){
        	let subList = subMenu.children("li")[index + 2];
        	$(subMenu.children("li")).children("ul").removeClass("in");
        	$(subMenu.children("li")).removeClass("active");
        	$(subList).addClass("active");
        	$(subList).children("ul").addClass("in");
            $($(subList).children("ul")).find(".J_menuItem")[0].click();
        })
    });
</script>
@}
