@layout("/common/_container.html"){
<style>
    table tbody tr td {
        text-align: center !important;
    }
    .ui-jqgrid .ui-jqgrid-labels th {
        text-align: center !important;
    }
    #channel-info-dialog {
        overflow: auto;
    }
    #channel-info-dialog table tr th:first-child {
        width: 25%;
        max-width: 25%;
    }
    #channel-info-origin, #channel-info-final {
        width: 200px;
        float: left;
    }
    #channel-info-origin select, #channel-info-final select {
        width: 100%;
        height: 230px;
    }
    #channel-info-btn-group {
        width: 120px;
        float: left;
        margin-top: 30px;
    }
    #channel-info-btn-group .btn-info {
        display: block;
        margin: 10px auto;
        width: 80px;
        padding: 0;
    }
    .model-error-msg {
        padding-right: 100px;
        color: red;
        display: none;
    }
</style>
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">
			<form class="form-horizontal" role="form" id="add-form"
				onsubmit="return false;">
				<input type="hidden" name="channelGroupId" id="channelGroupId" /> <input
					type="hidden" name="updId" id="updId"/>
				<div class="row">
					<div class="col-ms-6">
						<!-- <div class="form-group">
							<label class="col-sm-3 control-label no-padding-right text-right"
								for="dispatchChannel"> <span class="text-danger">*</span>
								流量下发通道:
							</label>
							<div class="col-sm-6">
								<input type="text" name="dispatchChannel" id="dispatchChannel"
									class="form-control input-sm not-update" />
							</div>
						</div> -->
						<div class="form-group">
							<label class="col-sm-3 control-label no-padding-right text-right"
								for="groupName"> <span class="text-danger">*</span> 通道组名称: </label>
							<div class="col-sm-6">
								<input type="text" name="groupName" id="groupName"
									class="form-control input-sm" />
							</div>
						</div>
					</div>
					<div class="col-ms-6">
						<div class="form-group">
							<label class="col-sm-3 control-label no-padding-right text-right"
								for="isDef"> <span class="text-danger">*</span> 是否默认通道组:
							</label>
							<div class="col-sm-2">
								<select id="isDef" name="isDef" class="form-control" >
                                    <option value="">请选择是否是否默认通道组</option>
                                    <option value="0">否</option>
                                    <option value="1">是</option>
                                </select>
							</div>
							<label class="col-sm-2 control-label no-padding-right text-right"
								for="isQuote"> <span class="text-danger">*</span> 是否可引用:
							</label>
							<div class="col-sm-2">
								<select id="isQuote" name="isQuote" class="form-control" onchange="addGroup()">
                                    <option value="">请选择是否可引用</option>
                                    <option value="0">否</option>
                                    <option value="1">是</option>
                                </select>
							</div>
						</div>
						<!-- <div class="form-group">
							<label class="col-sm-3 control-label no-padding-right text-right"
								for="groupName"> <span class="text-danger">*</span> 质量指标: </label>
							<div class="col-sm-6">
									<input type="hidden"  id="quota-select"
									name="quotaId" class="form-control input-sm"/>
							</div>
						</div> -->
					</div>
				</div>
				<div class="page-header">
                    <h1>
                        <small>接入通道信息 </small>
                    </h1>
                </div>
                <div class="container">
                    <div class="row " style="margin-bottom: 15px;">
                        <div class="col-xs-12">
                           <!--  <button type="button" id="add-channel-info" class="btn btn-sm btn-success">
                                <i class="ace-icon fa fa-hand-o-right bigger-120"></i>添加接入通道
                            </button> -->
                            <div class="btnWrapper">
                            		<#button id="add-channel-info" name="" icon="fa-plus" clickFun=""/>
                            		<span class="btnTips">添加接入通道</span>
                            </div> 
                            <div class="btnWrapper">
                            		<#button name="" id="delete-channel-info" icon="fa fa-trash-o" clickFun=""/>
                            		<span class="btnTips">删除接入通道</span>
                            </div> 
                            <!-- 模态对话框 -->
				            <div class="modal fade" id="channel-info-dialog" tabindex="-1" role="dialog" aria-labelledby="channel-info-title">
				                <div class="modal-dialog">
				                    <div class="modal-content">
				                        <div class="modal-header">
				                            <button type="button" class="close" data-dismiss="modal"
				                                aria-label="Close">
				                                <span aria-hidden="true">&times;</span>
				                            </button>
				                            <h4 class="modal-title" id="channel-info-title">选择接入通道</h4>
				                        </div>
				                        <div class="modal-body">
				                        	<div style="width: 477px;margin-left:15px;">
												<input type="text" id="text" name="text" style="width:200px;height:30px">
										  	 </div>
				                            <div id="channel-info-origin" style="margin-left: 15px;">
			                                    <select id="dltSource" name="dltSource" size="10" multiple="multiple"></select>
			                                </div>
			                                <div id="channel-info-btn-group">
			                                    <input type="button" value="全部 &gt;&gt;" class="btn btn-info" onclick="AddAll($('#dltSource'),$('#dltTarget'))" />
			                                    <input type="button" value="&gt;&gt;" id="toRight" class="btn btn-info" />
			                                    <input type="button" value="&lt;&lt;" id="toLeft" class="btn btn-info" />
			                                    <input type="button" value="&lt;&lt; 全部" class="btn btn-info" onclick="AddAll($('#dltTarget'),$('#dltSource'))" />
			                                </div>
			                                <div id="channel-info-final">
			                                    <select id="dltTarget" name="dltTarget" size="10" multiple="multiple"></select>
			                                </div>
				                        </div>
				                        <div class="modal-footer" style="padding-top: 208px">
				                            <span class="model-error-msg">请选择接入通道</span>
			                                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
			                                <button type="button" class="btn btn-primary" onclick="channelInfoAddBtnClickEvent();">新增</button>
				                        </div>
				                    </div><!-- /.modal-content -->
				                </div><!-- /.modal-dialog -->
				            </div><!-- /.modal -->
                        </div>

                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <table id="channel-info-table" class="table table-striped table-bordered table-hover">
                                 <thead>
                                     <tr>
                                        <th style="text-align:center"></th>
                                         <th style="text-align:center">供应商编码</th>
                                         <th style="text-align:center">通道供应商</th>
                                         <!-- <th style="text-align:center">通道ID</th> -->
                                         <th style="text-align:center">通道名称</th>
                                         <th style="text-align:center">通道折扣(%)</th>
                                         <th style="text-align:center">对应运营商</th>
                                         <th style="text-align:center">权重</th>
                                         <th style="text-align:center">有效性</th>
                                     </tr>
                                 </thead>
                                 <tbody id="channel-info-tbody"></tbody>
                             </table>
                        </div>
                    </div>
                </div>
				
				<!-- 接入通道组开始 -->
				<div style="display:none" id="group_add">
				<div class="page-header">
                    <h1>
                        <small>接入通道组信息 </small>
                    </h1>
                </div>
                <div class="container">
                    <div class="row " style="margin-bottom: 15px;">
                        <div class="col-xs-12">
                           <!--  <button type="button" id="add-channel-group" class="btn btn-sm btn-success">
                                <i class="ace-icon fa fa-hand-o-right bigger-120"></i>添加接入通道组
                            </button> -->
                            <div class="btnWrapper">
                            		<#button id="add-channel-group" name="" icon="fa-plus" clickFun=""/>
                            		<span class="btnTips">添加接入通道组</span>
                            </div> 
                            <div class="btnWrapper">
                            		<#button name="" id="delete-channel-group" icon="fa fa-trash-o" clickFun=""/>
                            		<span class="btnTips">删除接入通道组</span>
                            </div> 
                            <!-- 模态对话框 -->
				            <div class="modal fade" id="channel-group-dialog" tabindex="-1" role="dialog" aria-labelledby="channel-group-title">
				                <div class="modal-dialog">
				                    <div class="modal-content">
				                        <div class="modal-header">
				                            <button type="button" class="close" data-dismiss="modal"
				                                aria-label="Close">
				                                <span aria-hidden="true">&times;</span>
				                            </button>
				                            <h4 class="modal-title" id="channel-group-title">选择接入通道组</h4>
				                        </div>
				                        <div class="modal-body">
				                        	<!-- <div style="width: 477px;margin-left:15px;">
												<input type="text" id="groupText" name="groupText" style="width:200px;height:30px">
										  	 </div> -->
				                            <div id="channel-info-origin" style="margin-left: 15px;">
			                                    <select id="groupDltSource" name="groupdltSource" size="10" multiple="multiple"></select>
			                                </div>
			                                <div id="channel-info-btn-group">
			                                    <input type="button" value="全部 &gt;&gt;" class="btn btn-info" onclick="AddAllGroup($('#groupDltSource'),$('#groupDltTarget'))" />
			                                    <input type="button" value="&gt;&gt;" id="groupToRight" class="btn btn-info" />
			                                    <input type="button" value="&lt;&lt;" id="groupToLeft" class="btn btn-info" />
			                                    <input type="button" value="&lt;&lt; 全部" class="btn btn-info" onclick="AddAllGroup($('#groupDltTarget'),$('#groupDltSource'))" />
			                                </div>
			                                <div id="channel-info-final">
			                                    <select id="groupDltTarget" name="groupDltTarget" size="10" multiple="multiple"></select>
			                                </div>
				                        </div>
				                        <div class="modal-footer" style="padding-top: 208px">
				                            <span class="model-error-msg">请选择接入通道组</span>
			                                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
			                                <button type="button" class="btn btn-primary" onclick="channelGroupAddBtnClickEvent();">新增</button>
				                        </div>
				                    </div>
				                </div>
				            </div>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <table id="channel-info-table" class="table table-striped table-bordered table-hover">
                                 <thead>
                                     <tr>
                                     	 <th style="text-align:center"></th>
                                         <th style="text-align:center">通道组名称</th>
                                         <th style="text-align:center">是否默认通道组</th>
                                     </tr>
                                 </thead>
                                 <tbody id="channel-group-tbody"></tbody>
                             </table>
                        </div>
                    </div>
                </div>
                </div>
			</form>
            <div class="row btn-group-m-t" align="center">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="AccessChannelGroupInfoDlg.editSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="AccessChannelGroupInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/channel/accessChannelGroup/accessChannelGroup_info.js"></script>
<script type="text/javascript">
var view_url = Feng.ctxPath + '/accessChannelGroup/get';
var prodOrderList = null;
var prodData = null;
var prodTotalData = null;
var leftSel = $("#dltSource"); 
var rightSel = $("#dltTarget");
var productIndex = 0;
var pkId='${channelGroupId}';
var groupList = null;
var groupData = null;
var groupTotalData = null;
var groupLeftSel = $("#groupDltSource"); 
var groupRightSel = $("#groupDltTarget");
var groupIndex = 0;

function initSelect2() {
    $("#quota-select").removeClass().css("width","220px").css("margin-left","0px").select2({
        minimumInputLength: 1,
        ajax: {
            url: Feng.ctxPath + '/channelQualityQuota/selectQualityInfo',
            dataType: 'json',
            data: function (term) {
                return {
                    "quotaName": term
                };
            },
            results: function (data) {
                return {
                    results: $.map(data.qualityQuotaList, function (item) {
                        return {
                            id: item.quotaId,
                            text: item.quotaName
                        }
                    })
                };
            }
        }
    });
}

$(function() {
	initSelect2();
	addGroup();
    // 【添加接入通道信息】按钮点击事件
    chooseChannelInfoBtnClickHandler();
    // 【添加接入通道组信息】按钮点击事件
    chooseChannelGroupBtnClickHandler();
    // 双向选择按钮组点击事件
    doubleSelectBtnClick();
	var add_validator = $('#add-form').validate({
	        rules: {
	            'dispatchChannel': {
	                required: true,
	                maxlength: 64
	            },
	            'groupName': {
	                required: true,
	                maxlength: 128
	            },
	            'isDef': {
	                required: true,
	                maxlength: 11
	            },'quotaId': {
	            	required:true,
	            	maxlength:128
	            },'isQuote': {
	                required: true,
	                maxlength: 11
	            }
	        },
	        submitHandler: function(form) {
	                return false;
	            }
	        }); 
      if (pkId) {
        $('#updId').val(pkId);
        $.post(view_url, {
            'channelGroupId': pkId
        }, function(rtn) {
            if (rtn.success) {
            	$('#channelGroupId').val(rtn.data.channelGroupId);
            	$('#upId').val(rtn.data.channelGroupId);
            	$('#dispatchChannel').val(rtn.data.dispatchChannel);
            	$('#groupName').val(rtn.data.groupName);
            	$('#isDef').val(rtn.data.isDef);
            	$('#isQuote').val(rtn.data.isQuote);
                initModifyViewStatus(rtn.data);
                initChannelGroup(rtn.data);
                var obj = {};
			    obj["id"] = rtn.data.channelQualityQuota.quotaId;
			    obj["text"] = rtn.data.channelQualityQuota.quotaName;
                $("#quota-select").select2("data", obj);
            } else {
            	Feng.error(rtn.message ? rtn.message : "未知错误");
            }
        });
    } 
    
    /**输入框绑定事件**/
	$('#text').bind('input propertychange',function(){
        searchAccessChannelGroup();
    });
});
/**
 * 【添加接入通道信息】按钮点击事件
 */
function chooseChannelInfoBtnClickHandler() {
    $("#add-channel-info").on('click', function(e) {
        e.preventDefault();
        $("#text").val("");
        var url = "";
        var prodIds = [];
        if (prodOrderList != null) {
            $.each(prodOrderList, function(n, value) {
                prodIds.push(value.channelSeqId);
            });
        }
        $.ajax({
            url: Feng.ctxPath + '/accessChannelInfo/selectAccessChannelInfoList',
            dataType: 'json',
            success: function(data, status) {
                if (data.success == true) {
                    var prodDataDB = data.data.concat();
                    if (prodOrderList != null) {
                        for (var i = prodDataDB.length - 1; i >= 0; i--) {
                            if ($.inArray(prodDataDB[i].channelSeqId, prodIds) >= 0) {
                                prodDataDB.splice(i, 1);
                            }
                        }
                    }
                    prodData = prodDataDB;
                    prodTotalData = prodDataDB;
                    showChannelProdDialog();
                }
            }
        });
    });
}

function showChannelProdDialog() {
    $("#channel-info-dialog").modal({
        backdrop: "static",
        keyboard: false
    });
    // 初始化双向选择列表
    initDoubleSelect();
}
/**
 * 添加按钮点击事件
 */
function channelInfoAddBtnClickEvent() {
    var selVal = [];
    rightSel.find("option").each(function() {
        selVal.push(this.value);
    });
    if (selVal.length == 0) {
        $(".model-error-msg").fadeIn('slow');
        setTimeout(function() {
            $(".model-error-msg").fadeOut('slow');
        }, 1500);
        return;
    }
    var prodDataTemp = prodTotalData;
    // 初始化接入通道列表
    prodOrderSelectedList = $.getSelectInfo(selVal, prodDataTemp);
    if (prodOrderList != null) {
        prodOrderList = prodOrderList.concat(prodOrderSelectedList);
    } else {
        prodOrderList = prodOrderSelectedList;
    }
    $("#channel-info-dialog").modal('hide');
    refreshChannelInfoTable(prodOrderSelectedList);
}

$.getSelectInfo = function(selVal, prodDataTemp) {
    var arr = new Array();
    $.each(selVal, function(index, id) {
        $.each(prodDataTemp, function(n, value) {
            if (id == value.channelSeqId) {
                arr.push(value);
                return false;
            }
        });
        return true;
    });
    return arr;
};

/**
 * 刷新产品订单表
 */
function refreshChannelInfoTable(dataList) {
    // 刷新接入通道Table
    initChannelInfoTable(dataList);
    // 文本框输入限制
    inputNumberFormatHandler();
    // 删除按钮点击事件
    deleteBtnClickHandler();
}

/**
 * 初始化接入通道Table
 */
function initChannelInfoTable(dataList) {
    var html = "";
    for (var index in dataList) {
        if (index == "contains") {
            continue;
        }
        var obj = dataList[index];
        html += "<tr>";
        html += "<td ><input type='radio' name='accessChannelInfoList' attrid='" + obj.channelSeqId + "' class='deleteBtn'/> </td>";
        html += "<td><input type='hidden' name='accessChannelInfoList[" + productIndex + "].channelSeqId' value='"+ obj.channelSeqId +"'/>" + obj.supplierCode + "</td>";
        //html += "<td>"+ obj.channelId +"</td>";
        html += "<td>"+ obj.supplierName +"</td>";
        html += "<td><a href='javascript:;' onclick='viewEvent(\"" + obj.channelSeqId + "\")'>"+ obj.channelName +"</a></td>";
        html += "<td>"+ obj.discount +"</td>";
        html += "<td>"+ obj.operatorCodeDesc +"</td>";
        html += "<td><input class='weight' name='accessChannelInfoList[" + productIndex + "].weight' class='numberFormat' value='" + obj.weight + "'/></td>";
        html += "<td>"+ obj.isValidDesc +"</td>";
      /*   html += "<td><button class='btn btn-danger btn-xs deleteBtn' attrid='" + obj.channelSeqId + "'><i class='ace-icon fa fa-trash-o fa icon-only'></i></button></td>" */
        html += "</tr>";
        productIndex++;
    }
    $("#channel-info-tbody").append(html);
}


/**
 * 文本框输入限制
 */
function inputNumberFormatHandler() {
    $(".numberFormat").keypress(function(event) {
        var keyCode = event.which;
        if (keyCode == 8 || keyCode == 0 || keyCode == 46 || (keyCode >= 48 && keyCode <= 57))
            return true;
        else
            return false;
    });
}

/**
 * 删除按钮点击事件
 */
function deleteBtnClickHandler() {
    $("#delete-channel-info").click(function() {
    	var $checkRadio;
    	var count=0;
    	$(".deleteBtn").each(function() {
            if ($(this).is(':checked')) {
            	$checkRadio=$(this);
            	count++;
            	 return false;
            }
        });
    	if(count<1){
    		 Feng.info("请先选中表格中的某一记录！");
	   		 return;
    	}
        $.each(prodOrderList, function(n, value) {
            if ($checkRadio.attr("attrid") == value.channelSeqId) {
                prodOrderList.splice(n, 1);
                return false;
            }
        });
        $checkRadio.parent('td').parent('tr').remove();
    });
}

/**
 * 初始化双向选择列表
 */
function initDoubleSelect() {
    $("#dltSource").empty();
    $("#dltTarget").empty();
    $.each(prodData, function(n, value) {
        $("#dltSource").append("<option value='" + value.channelSeqId + "'>" + value.channelName + "</option>")
    });
}

/**
 * 双向选择按钮组点击事件
 */
function doubleSelectBtnClick() {
    $("#toRight").click(function() {
        leftSel.find("option:selected").each(function() {
            $(this).remove().appendTo(rightSel);
        });
    });
    $("#toLeft").click(function() {
        rightSel.find("option:selected").each(function() {
            $(this).remove().appendTo(leftSel);
        });
    });
    leftSel.dblclick(function() {
        $(this).find("option:selected").each(function() {
            $(this).remove().appendTo(rightSel);
        });
    });
    rightSel.dblclick(function() {
        $(this).find("option:selected").each(function() {
            $(this).remove().appendTo(leftSel);
        });
    });
    
    //通道组
    $("#groupToRight").click(function() {
        groupLeftSel.find("option:selected").each(function() {
            $(this).remove().appendTo(groupRightSel);
        });
    });
    $("#groupToLeft").click(function() {
        groupRightSel.find("option:selected").each(function() {
            $(this).remove().appendTo(groupLeftSel);
        });
    });
    groupLeftSel.dblclick(function() {
        $(this).find("option:selected").each(function() {
            $(this).remove().appendTo(groupRightSel);
        });
    });
    groupRightSel.dblclick(function() {
        $(this).find("option:selected").each(function() {
            $(this).remove().appendTo(groupLeftSel);
        });
    });
}

function isNum(s) {
    var r = /^\d+(\.\d+)?$/;
    return r.test(s);
}

/**
 * 添加全部
 */
function AddAll(ObjSource, ObjTarget) {
    // 目标列表的HTML加上原列表的所有HTML
    ObjTarget.append(ObjSource.html());
    // 原列表清空
    ObjSource.empty();
}

/**
 * 初始化修改页面的值状态
 */
function initModifyViewStatus(data) {
    $(".not-update").attr("disabled", "disabled");
    var prodIds = [];
    var odList = data.channelToGroupList;
    $.each(odList, function(n, value) {
        prodIds.push(value.channelSeqId);
    });
    if (prodIds.length > 0) {
        $.ajax({
            url: Feng.ctxPath + '/accessChannelInfo/selectAccessChannelInfoList.ajax?channelSeqIds=' + prodIds,
            dataType: 'json',
            success: function(data, status) {
                if (data.success == true) {
                    prodOrderList = data.data;
                    $.each(prodOrderList, function(n, value) {
                        $.each(odList, function(index, od) {
                            if (value.channelSeqId == od.channelSeqId) {
                                value.weight = od.weight;
                            }
                        });
                    });
                    refreshChannelInfoTable(prodOrderList);
                }
            }
        });
    }
}

// 输入框内容校验
function checkInputValue() {
    var successFlag = true;
    $.each($(".weight"), function(n, obj) {
        var value = $(obj).val();
        if (value == null || value == "") {
        	Feng.error("请输入权重");
            successFlag = false;
            return false;
        }
        var reg = /^(0|([1-9]\d*))$/;
        if (!reg.test(value)) {
        	Feng.error("请输入大于0的整数");
            successFlag = false;
            return false;
        }
    });
    return successFlag;
}

function returnBackEvent() {
    location.href = Feng.ctxPath + '/pages/accessChannelGroup_list.shtml';
}

/**根据条件搜索通道*/
function searchAccessChannelGroup(){
	var url = "";
	var text = $("#text").val();
    var prodIds = [];
    if (prodOrderList != null) {
        $.each(prodOrderList, function(n, value) {
                prodIds.push(value.channelSeqId);
            });
    }
    var rightchannels = $("#dltTarget").val();
	var rightchannelSeqIds = [];
	if (rightchannels != null) {
	    for(var i=0;i<rightchannels.length;i++){
	    	rightchannelSeqIds.push(parseInt(rightchannels[i]));
	    }
	 }
    $.ajax({
        url: Feng.ctxPath + '/accessChannelInfo/selectAccessChannelInfoList.ajax?text=' + text,
        dataType: 'json',
        success: function(data, status) {
            if (data.success == true) {
               var prodDataDB = data.data.concat();
                    if (prodOrderList != null) {
                        for (var i = prodDataDB.length - 1; i >= 0; i--) {
                            if ($.inArray(prodDataDB[i].channelSeqId, prodIds) >= 0) {
                                prodDataDB.splice(i, 1);
                            }
                        }
                    }
                    //剔除右边已选的
	                if (rightchannels != null) {
	                    for (var i = prodDataDB.length-1 ; i >= 0; i--) {
	                        if ($.inArray(prodDataDB[i].productId, rightchannelSeqIds) >= 0) {
	                            prodDataDB.splice(i, 1);
	                        }
	                    }
	                }
                    prodData = prodDataDB;
                    //showChannelProdDialog();
                    $("#channel-info-dialog").modal({
		                backdrop: "static",
		                keyboard: false
		            });
		            $("#dltSource").empty();
		            $.each(prodData, function(n, value) {
		                $("#dltSource").append("<option value='" + value.channelSeqId + "'>" + value.channelName + "</option>")
		            });
                }
            }
   });
}

/**
 * 【添加接入通道组信息】按钮点击事件
 */
function chooseChannelGroupBtnClickHandler() {
    $("#add-channel-group").on('click', function(e) {
        e.preventDefault();
        $("#groupText").val("");
        var url = "";
        var groupIds = [];
        if (groupList != null) {
            $.each(groupList, function(n, value) {
                groupIds.push(value.channelGroupId);
            });
        }
        $.ajax({
            url: Feng.ctxPath + '/accessChannelGroup/selectQuoteGroupList.ajax',
            dataType: 'json',
            success: function(data, status) {
                if (data.success == true) {
                    var groupDataDB = data.data.concat();
                    if (groupList != null) {
                        for (var i = groupDataDB.length - 1; i >= 0; i--) {
                            if ($.inArray(groupDataDB[i].channelGroupId, groupIds) >= 0) {
                                groupDataDB.splice(i, 1);
                            }
                        }
                    }
                    groupData = groupDataDB;
                    groupTotalData = groupData;
                    showChannelGroupDialog();
                }
            }
        });
    });
}
function showChannelGroupDialog() {
    $("#channel-group-dialog").modal({
        backdrop: "static",
        keyboard: false
    });
    // 初始化双向选择列表
    initGroupDoubleSelect();
}
/**
 * 初始化通道组双向选择列表
 */
function initGroupDoubleSelect() {
    $("#groupDltSource").empty();
    $("#groupDltTarget").empty();
    $.each(groupData, function(n, value) {
        $("#groupDltSource").append("<option value='" + value.channelGroupId + "'>" + value.groupName + "</option>")
    });
}

/**
 * 添加通道组按钮点击事件
 */
function channelGroupAddBtnClickEvent() {
    var selVal = [];
    groupRightSel.find("option").each(function() {
        selVal.push(this.value);
    });
    if (selVal.length == 0) {
        $(".model-error-msg").fadeIn('slow');
        setTimeout(function() {
            $(".model-error-msg").fadeOut('slow');
        }, 1500);
        return;
    }
    var groupDataTemp = groupTotalData;
    // 初始化接入通道组列表
    var groupSelectedList = $.getGroupSelectInfo(selVal, groupDataTemp);
    if (groupList != null) {
        groupList = groupList.concat(groupSelectedList);
    } else {
        groupList = groupSelectedList;
    }
    $("#channel-group-dialog").modal('hide');
    refreshChannelGroupTable(groupSelectedList);
}

$.getGroupSelectInfo = function(selVal, groupDataTemp) {
    var arr = new Array();
    $.each(selVal, function(index, id) {
        $.each(groupDataTemp, function(n, value) {
            if (id == value.channelGroupId) {
                arr.push(value);
                return false;
            }
        });
        return true;
    });
    return arr;
};

/**
 * 刷新通道组
 */
function refreshChannelGroupTable(dataList) {
    // 刷新接入通道组Table
    initChannelGroupTable(dataList);
    // 文本框输入限制
    inputNumberFormatHandler();
    // 删除按钮点击事件
    deleteGroupBtnClickHandler();
}

/**
 * 初始化接入通道Table
 */
 function initChannelGroupTable(dataList) {
	    var html = "";
	    for (var index in dataList) {
	        if (index == "contains") {
	            continue;
	        }
	        var obj = dataList[index];
	        html += "<tr>";
	        html += "<td ><input type='radio' attrid='" + obj.channelGroupId + "' class='groupDeleteBtn'/> </td>";
	        /* html += "<td><input type='hidden' name='channelGroupList[" + groupIndex + "].channelGroupId' value='"+ obj.channelGroupId +"'/>" + obj.dispatchChannel + "</td>"; */
	        html += "<td><input type='hidden' name='channelGroupList[" + groupIndex + "].channelGroupId' value='"+ obj.channelGroupId +"'/>"+ obj.groupName +"</td>";
	        html += "<td>"+ obj.isDefDesc +"</td>";
	      /*   html += "<td><button class='btn btn-danger btn-xs groupDeleteBtn' attrid='" + obj.channelGroupId + "'><i class='ace-icon fa fa-trash-o fa icon-only'></i></button></td>" */
	        html += "</tr>";
	        groupIndex++;
	    }
	    $("#channel-group-tbody").append(html);
	}

 /**
  * 删除按钮点击事件
  */
 function deleteGroupBtnClickHandler() {
     $("#delete-channel-group").click(function() {
         var $checkRadio;
         var count=0;
 	   	$(".groupDeleteBtn").each(function() {
 	           if ($(this).is(':checked')) {
 	           	$checkRadio=$(this);
 	           	count++;
 	           	 return false;
 	           }
 	       });
 	   	if(count<1){
    		 Feng.info("请先选中表格中的某一记录！");
 	   		 return;
    		}
         $.each(groupList, function(n, value) {
             if ($checkRadio.attr("attrid") == value.channelGroupId) {
                 groupList.splice(n, 1);
                 return false;
             }
         });
         $checkRadio.parent('td').parent('tr').remove();
     });
 }

//通道组添加全部
function AddAllGroup(ObjSource, ObjTarget) {
    // 目标列表的HTML加上原列表的所有HTML
    ObjTarget.append(ObjSource.html());
    // 原列表清空
    ObjSource.empty();
}

/**
 * 初始化显示关联通道组
 */
function initChannelGroup(data) {
    var channelGroupIds = [];
    var odList = data.groupToGroupList;
    $.each(odList, function(n, value) {
        channelGroupIds.push(value.quoteGroupId);
    });
    if (channelGroupIds.length > 0) {
        $.ajax({
            url: Feng.ctxPath + '/accessChannelGroup/selectQuoteGroupList.ajax?channelGroupIds=' + channelGroupIds,
            dataType: 'json',
            success: function(data, status) {
                if (data.success == true) {
                    groupList = data.data;
                    refreshChannelGroupTable(groupList);
                }
            }
        });
    }
}

function addGroup(){
 	if(1 == $("#isQuote").val()){
 		$("#group_add").hide();
 		$("#channel-group-tbody").empty();
 	}else{
 		$("#group_add").show();
 	}
}
function viewEvent(channelSeqId) {
	window.location.href = Feng.ctxPath + '/accessChannelInfo/detail/' + channelSeqId+"?isShow="+1;
};
</script>
@}
