@layout("/common/_container.html"){
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <!-- <div class="ibox-title">
                <h5>客户日账单</h5>
            </div> -->
            <div class="ibox-content">
                <div class="row row-lg">
                    <div class="col-sm-12">
                    	<form id="queryForm" action="#">
                        <div class="row">
							<div class="col-sm-3">
                                <div class="input-group">
								    <div class="input-group-btn">
								        <button data-toggle="dropdown" class="btn btn-white dropdown-toggle" type="button">客户名称</button>
								    </div>
                                    <input type="hidden" id="cbqv-customer-select" name="params['customerId']" class="form-control search-query" data-placeholder="请选择客户名称"/>
								</div>
                            </div>
                            <div class="col-sm-4">
                                <#TimeBetweenCon name="账单日期" isTime="false" pattern="yyyy-MM-dd" 
										startId="params['inputStartTime']" endId="params['inputEndTime']" 
                                        dateStartId="inputStartTime" dateEndId="inputEndTime"/>
                            </div>
                            <div class="col-sm-3 reset">
                                <#button name="查询" class="button-margin" icon="fa-search" clickFun="CustomerBillQuery.search()"/>
                                &nbsp;&nbsp;
                                <#button name="重置" class="button-margin" icon="fa-undo" clickFun="CustomerBillQuery.reset()"/>
                                &nbsp;&nbsp;
                                @if(shiro.hasPermission("/customerBalanceDay/export")){
                                <#button name="导出" class="button-margin" icon="fa-share-square-o" clickFun="CustomerBillQuery.exportCustomerBillQuery()"/>
                            	@}
                            </div>
                        </div>
                        
                        </form>
                        
                        <div class="row">
                        	<div class="col-sm-6"><br/>
                        		<label>结算数量： <span id="issuedCountAll"></span> 个，合计结算金额：<span id="issuedAmountAll"></span> 元</label>
                        	</div>
                        </div>
                        
                        <#table id="CustomerBillQueryTable"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="${ctxPath}/static/modular/customerBill/customerBillQuery.js"></script>
@}
